@media (max-width: 1600px) {
    .header {
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        max-height: 100vh;
        height: 100%;
        min-height: 50%;
    }
}

@media (max-width: 1550px) {
    .header {
        max-height: 97vh;
    }
}

@media (max-width: 1480px) {
    .header__wrapper {
        padding-top: 35vh;
    }

    .header {
        max-height: 92vh;
    }
}

@media (max-width: 1350px) {
    .header__wrapper {
        padding-top: 23vh;
    }

    .header {
        max-height: 84vh;
    }

    .header__title {
        font-size: 65px;
        padding-bottom: 10px;
    }

    .header__text {
        padding-top: 5px;
        line-height: 30px;
    }

    .header__wrapper {
        max-width: 415px;
    }

    .header__link {
        top: 40px;
    }

    .clients__img {
        width: 85%;
        margin: 0 auto;
    }

    .clients__inner .slick-next {
        top: 25%;
        right: -5px;
    }

    .highlight__inner .slick-next {
        right: -5px;
    }
}

@media (max-width: 1250px) {
    .header {
        max-height: 78vh;
    }

    .news__item-img {
        width: 545px;
    }
}

@media (max-width: 1200px) {
    .articles__inner {
        margin-left: 5%;
    }

    .articles__inner .slick-next {
        right: 40px;
    }

    .header {
        max-height: 73vh;
    }

    .news__item {
        display: flex;
        flex-direction: column;
    }

    .news__item-left {
        flex-direction: column-reverse;
    }

    .news__item-img {
        margin: 0 auto;
    }

    .news__inner {
        padding: 0px 0 50px;
    }
}

@media (max-width: 1100px) {
    .header__wrapper {
        padding-top: 15vh;
    }

    .portfolio {
        .slick-slider .slick-list,
        .slick-slider .slick-track {
            height: 24vh;
            background-size: cover;
            object-fit: cover;
        }
    }

    .portfolio__inner .slick-slide {
        max-width: 435px !important;
        width: 100%;
        max-height: 335px !important;
        background-size: cover;
        object-fit: cover;
        height: 100%;
        outline: transparent;
    }

    .header {
        max-height: 68vh;
    }
}

@media (max-width: 980px) {
    .header {
        max-height: 61vh;
    }

    .who__inner {
        padding: 35px;
    }

    .header__title {
        font-size: 45px;
        padding-bottom: 10px;
    }

    .header__text {
        padding-top: 5px;
        line-height: 27px;
        font-size: 16px;
    }

    .header__link {
        top: 35px;
        padding: 11px 65px;
    }

    .advantages__inner {
        padding: 60px 0 75px;
    }

    .articles__head {
        text-align: center;
        padding: 65px 0px;
    }

    .articles__inner .slick-next {
        display: none !important;
    }

    .articles__inner {
        margin: 0 26% 75px;
    }

    .clients__title {
        padding: 40px 0;
    }

    .portfolio__head {
        padding: 50px 100px 25px;
    }

    .portfolio__inner .slick-dots li {
        margin: 30px 4px 30px;
    }

    .quote {
        background-color: #212121;
        padding: 40px 0 50px;
    }

    .team__head {
        padding: 55px 100px 55px;
    }

    .team__inner {
        padding-bottom: 70px;
    }

    .facts__title {
        padding-top: 55px;
        padding-bottom: 45px;
    }

    .facts {
        max-height: 600px;
    }

    .news__item-info {
        padding: 55px 40px;
    }

    .news__item {
        padding-bottom: 0;
    }

    .tweets__inner {
        padding: 45px 80px 60px;
    }

    .footer__item:first-child {
        padding-right: 0;
        display: block;
        min-width: 100%;
        text-align: center;
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }

    .footer__text {
        max-width: 100%;
        padding: 10px 0 20px;
    }

    .footer__form {
        margin: 0 auto;
        max-width: 830px;
    }

    .footer__input {
        max-width: 390px;
    }

    .footer__message {
        max-width: 100%;
    }

    .footer__form button {
        margin-top: 45px;
    }

    .footer__head {
        padding-bottom: 15px;
    }

    .footer__copy {
        padding: 15px 50px 25px;
    }

    .footer__item {
        padding-right: 0;
        margin: 0 auto;
    }

    .portfolio {
        .slick-slider .slick-list,
        .slick-slider .slick-track {
            height: 20vh;
            background-size: cover;
            object-fit: cover;
        }
    }

    .footer__copy {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer__copy-item ul {
        justify-content: center;
        padding-bottom: 10px;
    }
}

@media (max-width: 880px) {
    .articles__item {
        margin-left: 0 !important;
    }

    .articles__inner {
        margin: 0 27% 75px 27%;
    }

    .clients__inner .slick-next {
        top: 14%;
        right: 5px;
    }

    .team__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-bottom: 40px;
    }

    .team__head {
        padding: 45px 20px;
    }

    .team__item {
        padding-bottom: 20px;
    }

    .advantages__items {
        display: block;
    }

    .advantages__item {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    .header {
        max-height: 55vh;
    }

    .portfolio__head-title {
        padding-bottom: 15px;
    }

    .portfolio__head-text {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 25px;
    }

    .portfolio__head {
        padding: 50px 0px 25px;
    }

    .portfolio__head-line {
        height: 6px;
        margin: 0 auto 20px;
    }

    .quote__text {
        font-size: 20px;
        line-height: 34px;
        padding: 0 15px 25px;
    }

    .facts__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.9fr 1.2fr;
        justify-items: center;
        max-width: 480px;
        min-height: 265px;
        padding-top: 0;
        align-items: center;
    }

    .facts__num::before {
        left: 35%;
    }

    .facts {
        max-height: 510px;
        background-size: cover;
    }

    .news__item-info {
        padding: 40px 5px;
    }

    .news__item-title {
        padding-bottom: 25px;
    }

    .highlight__inner .slick-next {
        right: 10px;
        top: 45%;
    }

    .tweets__ico {
        margin: 0 auto 25px;
    }

    .footer__form {
        max-width: 100%;
        flex-direction: column;
    }

    .footer__input {
        max-width: 100%;
    }

    .slick-arrow.slick-next {
        display: none !important;
    }

    .who__title {
        padding-bottom: 25px;
    }

    .header__item.off {
        transform: translateX(0%);
    }

    .header__item {
        transform: translateX(2000%);
    }

    .header__wrapper {
        padding-top: 10vh;
    }

    .advantages__inner {
        padding: 30px 0 40px;
    }
}

@media (max-width: 780px) {
    .header {
        max-height: 18vh;
        min-height: 46%;
    }

    .header__wrapper {
        padding-top: 4vh;
        max-width: 284px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__text {
        padding-top: 5px;
        line-height: 23px;
        font-size: 14px;
    }

    .header__link {
        top: 20px;
        padding: 5px 30px;
        font-size: 16px;
    }

    .articles__item {
        padding: 40px 30px 30px 35px;
    }

    .articles__head {
        padding: 40px 0;
    }

    .highlight,
    .articles {
        display: none;
    }

    .clients__title {
        padding: 0px 0 40px;
    }

    .advantages__title {
        padding-bottom: 10px;
    }

    .advantages__item img {
        margin-bottom: 10px;
    }
}

@media (max-width: 680px) {
    .news__item-img {
        width: 100%;
        margin: 0;
    }

    .tweets__inner {
        padding: 0px 0px 40px;
    }
}

@media (max-width: 580px) {
    .header {
        max-height: 18vh;
        min-height: 36%;
    }

    .portfolio {
        display: none;
    }

    .header__wrapper {
        max-width: 55%;
    }

    .who__inner {
        padding: 0 15px 20px;
    }

    .header__top {
        padding-top: 20px;
    }

    .header__link {
        top: -35px;
        background-color: #fff;
        opacity: 0.7;
        left: -295px;
        padding: 5px 30px;
        font-size: 16px;
    }

    .header__text {
        overflow: hidden;
        height: 125px;
    }

    .footer__copy-item ul li {
        padding-left: 15px;
    }

    .footer__copy-item ul {
        margin-left: -15px;
    }

    .facts__inner {
        grid-template-columns: 1fr;
    }

    .facts__num::before {
        left: 41%;
        right: 41%;
    }

    .facts__item {
        max-width: 100%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .facts {
        max-height: 675px;
    }

    .clients {
        display: none;
    }

    .team__inner {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .header {
        min-height: 29%;
    }

    .header__title {
        font-size: 20px;
    }

    .header__wrapper {
        padding-top: 1vh;
    }

    .header__link {
        left: 0;
        top: 15px;
    }

    .footer__copy {
        padding: 15px 0px 25px;
    }

    .header__item a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .header__text {
        overflow: hidden;
        height: 75px;
    }

    .facts__num::before {
        width: 0;
    }

    .header {
        min-height: 45%;
        margin-bottom: 20px;
    }

    .header__link {
        left: 0;
        top: 10px;
        padding: 0px 15px 2px;
    }
}
