@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start
.header {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1000px;
    height: 100%;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    &__logo {
        @include bold;
        font-size: 18px;
        color: $text;
        text-transform: uppercase;
    }

    &__menu {
        display: flex;
    }

    &__list {
        flex-direction: row;
        display: flex;
    }

    &__item {
        transition: linear 0.5s;

        a {
            @include bold;
            font-size: 16px;
            color: $text;
            padding-left: 10px;
            padding-right: 10px;
            text-transform: uppercase;
            transform: translateX(0%);
        }
    }

    &__item.off {
        transform: translateX(2000%);
    }

    &__item-btn {
        background-image: url(../images/icons/bars.svg);
        fill: $text;
        width: 16px;
        height: 17px;
        margin-top: 1px;
        cursor: pointer;
    }

    &__wrapper {
        max-width: 550px;
        width: 100%;
        text-align: right;
        padding-top: 395px;
        float: right;
    }

    &__title {
        @include black;
        color: $text;
        font-size: 72px;
        padding-bottom: 20px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 140px;
            height: 4px;
            background-color: $text;
            bottom: 0;
            right: 0;
        }
    }

    &__text {
        padding-top: 40px;
        @include reg;
        font-size: 18px;
        line-height: 34px;
        color: $text;
    }

    &__link {
        @include semi;
        color: $text;
        font-size: 18px;
        border: 2px solid $text;
        padding: 11px 87px;
        position: relative;
        top: 65px;
        transition: linear 0.5s;

        &:hover {
            opacity: 0.5;
            background-color: #fff;
        }
    }
}
// header end
// who start

.who {
    background-color: #fff;
    text-align: center;

    &__inner {
        padding: 100px;
    }

    &__img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }

    &__title {
        @include bold;
        color: $text;
        font-size: 27px;
        padding-bottom: 65px;
    }

    &__text {
        @include reg;
        font-size: 16px;
        line-height: 33px;
        color: $text;
    }
}

// who end
// advantages start

.advantages {
    background-color: $bg;

    &__inner {
        padding: 80px 0 110px;
    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 270px;
        width: 100%;

        img {
            width: 37px;
            height: 33px;
            fill: $text;
            margin-bottom: 25px;
        }
    }

    &__title {
        @include semi;
        font-size: 18px;
        color: $text;
        padding-bottom: 35px;
    }

    &__text {
        @include reg;
        font-size: 16px;
        line-height: 26px;
        color: $text;
    }
}

// advantages end
// articles start

.articles {
    background-color: #fff;

    &__head {
        text-align: center;
        padding: 100px 200px;
    }

    &__title {
        @include bold;
        color: $text;
        font-size: 27px;
        padding-bottom: 40px;
    }

    &__text {
        @include reg;
        font-size: 16px;
        line-height: 33px;
        color: $text;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        margin-left: -30px;
        margin-bottom: 140px;
        outline: transparent;

        .slick-arrow {
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
        }

        .slick-next {
            position: absolute;
            top: 50%;
            background-color: transparent;
            right: -82px;
            width: 24px;
            height: 24px;
        }

        .slick-prev {
            position: absolute;
            top: 50%;
            background-color: transparent;
            left: -50px;
            width: 24px;
            height: 24px;
            display: none !important;
        }

        .slick-slide {
            outline: transparent;
        }
    }

    &__item {
        background-color: $text;
        padding: 70px 75px 55px 40px;
        // flex-basis: calc(33.3333% - 30px) !important;
        max-width: 370px !important;
        width: 100%;
        // flex-basis: 33.3333% !important;
        margin-left: 30px !important;
        height: 370px;
        outline: transparent;
        position: relative;
    }

    &__item-active {
        position: relative;

        &::before {
            position: absolute;
            background-color: $red;
            content: "";
            width: 75px;
            height: 7px;
            top: 0;
            left: 40%;
            right: 40%;
        }
    }

    &__item-subtitle {
        color: $white-text;
        @include reg;
        font-size: 14px;
        padding-bottom: 25px;
    }

    &__item-title {
        color: $white-text;
        @include reg;
        font-size: 24px;
        line-height: 33px;
    }

    &__item-author {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 53px;
    }

    &__author-info {
        padding-left: 15px;
    }

    &__author-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &__author-name,
    &__author-date {
        @include semi;
        color: $white-text;
        font-size: 14px;
        padding: 7px 0;
        text-transform: uppercase;
    }
}

// articles end
// clients start

.clients {
    background-color: $bg;

    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 75px;

        .slick-arrow {
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
        }

        .slick-next {
            position: absolute;
            top: 28%;
            background-color: transparent;
            right: -82px;
            width: 24px;
            height: 24px;
        }

        .slick-prev {
            position: absolute;
            top: 50%;
            background-color: transparent;
            left: -50px;
            width: 24px;
            height: 24px;
            display: none !important;
        }

        .slick-slide {
            outline: transparent;
        }
    }

    &__title {
        text-align: center;
        color: $text;
        @include bold;
        font-size: 27px;
        padding: 65px 0;
    }

    &__img {
        width: 100%;
    }
}

// clients end
// portfolio start

.portfolio {
    background-color: #ffffff;

    &__head {
        text-align: center;
        padding: 100px 200px 45px;
    }

    &__head-title {
        @include bold;
        color: $text;
        font-size: 27px;
        padding-bottom: 35px;
    }

    &__head-text {
        @include reg;
        font-size: 16px;
        line-height: 33px;
        color: $text;
        padding-bottom: 48px;
    }

    &__head-line {
        width: 75px;
        height: 7px;
        background-color: $red;
        margin: 0 auto 47px;
    }

    &__head-tags-wrapper {
        margin: 0 auto;
    }

    &__head-tags {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__head-tag {
        padding: 0 13px 5px;
        @include reg;
        font-size: 16px;
        color: $text;
    }

    &__inner {
        width: 100%;

        .slick-dots {
            display: flex;
            justify-content: center;

            li,
            button {
                background-color: #cccccc;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border: none;
                content: "";
                font-size: 0;
            }

            button {
                margin-top: 0px;
                background-color: transparent;
            }

            li {
                margin: 65px 4px 80px;

                .slick-active {
                    background-color: $red;
                    z-index: 5;

                    button {
                        background-color: $red;
                    }
                }
            }

            li.slick-active {
                background-color: $red;
            }
        }

        .slick-slide.slick-active {
            max-width: 435px !important;
            width: 100%;
            max-height: 355px !important;
            height: 100%;
        }

        .slick-slide {
            max-width: 435px !important;
            width: 100%;
            max-height: 355px !important;
            height: 100%;
            outline: transparent;
        }
    }
}

// portfolio end
// quote start

.quote {
    background-color: $text;
    padding: 80px  0px 65px;

    &__icon {
        display: flex;
        justify-content: center;
        margin: 0 auto 15px;
    }

    &__text {
        @include reg;
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        color: $white-text;
        padding: 0 170px 35px;
    }

    &__author {
        @include reg;
        font-size: 20px;
        text-align: center;
        color: $white-text;
    }
}

// quote end

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
